<div class="container">
  <div style="width: 400px;">
    <form name="search" (ngSubmit)="getOneUser(searchArgument)" novalidate class="search-user-form">

      Here you will search needed employee
      <div class="panel panel-default">
        <div class="panel-heading">
          <h1>Search employee</h1>
          <br>
        </div>


        <div class="input-group">
          <input type="text" id="search user" class="form-control" name="search user"
                 placeholder="Enter here what you know about the user" [(ngModel)]="searchArgument"/>
          <span>
                <button type="submit" class="btn btn-primary ml-4">Search</button>
              </span>
        </div>
        <div class="panel-body">
          <br>
          <table class="table table-striped table-bordered">
            <thead>
            <tr>
              <th>Firstname</th>
              <th>Lastname</th>
              <th>Email</th>
              <th>Username</th>
              <th>Manager</th>
              <th>Role</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let users of oneUser">
              <td>{{users.firstName}}</td>
              <td>{{users.lastName}}</td>
              <td>{{users.email}}</td>
              <td>{{users.username}}</td>
              <td>{{users.manager != null ? users.manager.firstName : ''}}</td>
              <td>{{users.role != null ? users.role.name : ''}}</td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </form>
  </div>
</div>
