<nav class="navbar navbar-expand" *ngIf="authentificationService.isUserLoggedIn()">
  <a class="navbar-brand" routerLink="/">Place Management</a>
  <div class="navbar-collapse collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li ngbDropdown class="nav-item">
        <a ngbDropdownToggle class="nav-link">Places</a>
        <div ngbDropdownMenu class="dropdown-menu">
          <a class="dropdown-item" routerLink="places">View Places</a>
          <a class="dropdown-item" routerLink="requestedplace">Requested Places</a>
          <a class="dropdown-item" routerLink="userplacerequest">User Place Requests</a>
        </div>
      </li>

      <li ngbDropdown class="nav-item">
        <a ngbDropdownToggle class="nav-link">Users</a>
        <div ngbDropdownMenu class="dropdown-menu" aria-labelledby="dropdown01">
          <a class="dropdown-item" routerLink="showallusers">List of all Users</a>
          <a class="dropdown-item" routerLink="usercreator">Create user</a>
          <a class="dropdown-item" routerLink="searchusers">Search User</a>
        </div>
      </li>
        <li class="nav-item active">
        <a class="nav-link" routerLink="/roles">Roles</a>
      </li>
    </ul>

  </div>

  <div (click)="toggleNotificationCenter()">
    <img  class="" width="20px" src="assets/icons/notification-icon.png"
         alt="notifications">
    <sup *ngIf="notificationService.notifications.length!=0" class="font-weight-bold" style="color: #f44242;">{{notificationService.notifications.length}}</sup>
  </div>


  <div ngbDropdown placement="bottom-right">
    <a ngbDropdownToggle class="nav-link text-white">{{authentificationService.loggedInUser?.firstName}} {{authentificationService.loggedInUser?.lastName}}</a>
    <div ngbDropdownMenu style="margin-left: -4rem">
      <a ngbDropdownItem routerLink="logout">Log out</a>
    </div>
  </div>
</nav>
