<div>
  <label for="username" class="col-sm-4 col-form-label">Username</label>
  <div class="col-sm-10">
    <input type="text" readonly class="form-control" id="username" value={{user?.username}}>
  </div>

  <label for="firstName" class="col-sm-4 col-form-label">First Name</label>
  <div class="col-sm-10">
    <input type="text" readonly class="form-control" id="firstName" value={{user?.firstName}}>
  </div>

  <label for="lastname" class="col-sm-4 col-form-label">Last Name</label>
  <div class="col-sm-10">
    <input type="text" readonly class="form-control" id="lastname" value={{user?.lastName}}>
  </div>

  <label for="jobtitle" class="col-sm-4 col-form-label">Job Title</label>
  <div class="col-sm-10">
    <input type="text" readonly class="form-control" id="jobtitle" value={{role}}>
  </div>

  <label for="place" class="col-sm-4 col-form-label">Place Number</label>
  <div class="col-sm-10">
    <input type="text" readonly class="form-control" id="placeNumber" value={{placeByUsername?.id}}>
  </div>

  <div *ngIf="managerUsers?.includes(user?.username)">
    <div class="form-group col-sm-10">
      <label for="availableoffice">Office</label>
      <select class="form-control" id="availableoffice" name="availableoffice"
              (change)="getAvailablePlacesByOfficeNumber($event)">
        <option></option>
        <option *ngFor="let availablePlaces of distinctOffices">{{availablePlaces}}</option>
      </select>
    </div>

    <div class="form-group col-sm-10">
      <label for="place">Place</label>
      <select [(ngModel)]="selectPlace" class="form-control" id="place" name="place">
        <option *ngFor="let place of availablePlacesOffice" [ngValue]="place">{{place.id}}</option>
      </select>
    </div>
    <button type="button" class="btn btn-primary" (click)="moveUser()" data-dismiss="modal">Move User</button>
  </div>
</div>
